:root {
    --background-color: #121212;
    --secondary-color: #1e1e2e;

    --header-bg: #3f51b5;

    --border-color: #3f51b5;
    --login-input-bg: #252538;
    --login-shadow: #3f51b5;

    --submit-disabled: #2b2b33;
    --submit-disabled-border: #787c8e;

    --thead-color: #252538;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
    background-image: url("../assets/bg.png");
    color: white;
    min-height: 100vh;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    background: var(--header-bg);

    height: 5.5vh;
    max-height: 400px;

    overflow: hidden;
    white-space: nowrap;
}

header a {
    text-decoration: none;
    color: white;
    font-size: clamp(0.7rem, 1.75vw, 1.1rem);
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

header a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
    color: white;
}

header .nav-left-container,
header .nav-buttons-container,
header .nav-right-container {
    gap: clamp(0.3rem, 2vw, 2rem);
}

header .nav-left-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

header .nav-buttons-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

header .nav-right-container {
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 1.5vw, 1rem);
    margin-right: 5px;
}

header .app-name-container {
    display: flex;
    align-items: center;

    font-size: clamp(1rem, 1.4vw, 1.7rem);
    font-weight: bold;

    padding-right: clamp(0.25rem, 1vw, 5%);
    padding-left: clamp(0.25rem, 0.5vw, 1.5%);

    border-right: 2px solid white;
}

header .app-name-container p {
    margin: 0;
}

header .profile-btn {
    padding: 2.5px clamp(4px, 1.5vw, 40px);
    background: white;
    color: black;
    border-radius: 7.5px;
}

header .profile-btn:hover {
    background: #283593;
    color: white;
    cursor: pointer;
}

header .nav-right-container .log-out {
    background: url("../assets/log-out.png") no-repeat center / contain;

    width: clamp(16px, 2.5vw, 25px);
    height: clamp(16px, 2.5vw, 25px);

    flex-shrink: 0; /*img cannot disappear*/
}

header .nav-buttons-current {
    background: #283593;
    border-radius: 7.5px;
    padding: 2.5px clamp(4px, 1.5vw, 25px);
}

.page-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

    margin-left: 40px;

    font-size: clamp(10px, 1em, 20px);
    font-weight: bold;
}

.page-name img {
    width: 46px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

/* Form global style (for table style pages) */
.form-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1rem;
}

.form-header input,
.form-header select,
.form-header button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.125rem solid var(--border-color);
    border-radius: 1rem;
    padding: 0.35rem 1rem;
    background: var(--secondary-color);
    cursor: pointer;
    height: 2rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.form-header input[type="submit"],
.form-header button[type="submit"]:has(:not(img)) {
    padding: 0.35rem 2rem;
}

.form-header input[type="submit"]:disabled,
.form-header button[type="submit"]:disabled {
    cursor: not-allowed;
    background: var(--submit-disabled);
    border-color: var(--submit-disabled-border);
}

.form-header button[type="submit"] img {
    aspect-ratio: 1/1;
    height: 100%;
}

.form-header > div {
    display: flex;
    gap: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Inventory table */
.form-content {
    position: relative;
    width: 90%;
    height: 70vh;
}

.form-content .table-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #353535;

    border-radius: 0.75rem;
    overflow-y: scroll;
}

.form-content .table-preview table {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border-collapse: collapse;
}

.form-content .table-preview table thead {
    height: 50px;
    width: 100%;
    background: var(--thead-color);
    text-align: left;
    color: rgb(173, 173, 173);
}

.form-content .table-preview table th {
    font-weight: 200;
}

.form-content .table-preview table tbody {
    height: calc(100% - 50px);
}

.form-content .table-preview table td,
.form-content .table-preview table th {
    padding-left: 20px;
    padding-right: 20px;
}

.form-content .table-preview table td:first-child {
    color: #4d68ff;
}

.form-content .table-preview table tr {
    border-bottom: 0.25px solid #353535;
    height: auto;
}

.form-content .table-preview table tbody tr:nth-last-child(1) {
    border-bottom: none;
}

/* Icons */
.table-item-DEPLOYED {
    background: #52ff58;
    color: #252538;
    border: 2px solid #252538;
}

.table-item-END_OF_LIFE {
    background: #2e1e1e;
    color: #ff0000;
    border: 2px solid #a10000;
}

.table-item-IN_INVENTORY {
    background: #808080;
    color: #252538;
    border: 2px solid #252538;
}

.table-item-DEPLOYED,
.table-item-END_OF_LIFE,
.table-item-IN_INVENTORY {
    display: grid;
    place-items: center;
    font-size: 0.75em;
    font-weight: bold;
    width: 75%;
    height: 30px;
    border-radius: 35px;
    cursor: pointer;
}

.form-content .table-preview table tbody tr td img {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    width: 1.75em;
    cursor: pointer;
}

/* Select checkbox */
.select-checkbox {
    position: relative;
    border-radius: 1rem;
    background: var(--secondary-color);
}

#select-checkbox-button {
    padding: 0.35rem 3em;
}

#select-checkbox-list {
    display: flex;
    z-index: 9999;
    position: absolute;
    flex-direction: column;
    background: var(--secondary-color);
    border-radius: 0 0 1rem 1rem;
    width: 100%;
}

#select-checkbox-list > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1em;
}

#select-checkbox-list > div > label {
    cursor: pointer;
}

.select-checkbox-active {
    border-radius: 1rem 1rem 0 0;
}
